html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px;
  background-color: #FDFDFD;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding: 50px 0;
  background-color: #f5f5f5;
}

footer li {
  float: left;
  list-style: none;
  padding-right: 1em;
}

p, .jumbotron p {
  font-size: 1.2em;
}

footer p {
  text-align: center;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .login-button {
    display: block;
    width: 80%;
    margin: 0 auto 1em;
  }
}

.main-content {
  margin-bottom: 2em;
}

.navbar {
  margin-bottom: 0;
}

.add-quote,
.cancel-add,
.edit-quote,
.delete-quote {
  float: right;
}

.jumbotron .row {
  margin-top: 3em;
}

.hero {
  min-height: 60vh;
  padding-top: 5em;
  background-image: url('/img/blurry.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.what {
  background-color: #F5F5F5;
  width: 100%;
}

.why {
  background-color: #DADADA;
}

.quote-list {
  padding: 5em 0;
}

.quote-grid {
  padding: 5em 0;
  max-width: 100%;
}

.quote {
  width: 310px;
}

.row {
  max-width: 100%;
  margin: 0;
}

.book-title {
  text-align: center;
}

.landing-row {
  padding-top: 4em;
  padding-bottom: 4em;
}

.landing-row svg {
  display: block;
  margin: auto;
}

.svg-container {
  height: 105px;
}

.landing-section {
  display: flex;
  align-items: center;
}

.landing-row h2 {
  text-align: center;
}

.quote-author {
  display: block;
  margin-bottom: 1em;
}

.quote-meta {
  margin-bottom: 1em;
}
