<% include partials/meta %>
<% include partials/header %>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>About</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>
            For years, I experimented with various ways to keep a commonplace book. I tried notebooks, index cards, and bounced back and forth between Evernote and OneNote a few times. Eventually, I decided none of the solutions were exactly right, so I decided to make my own.
          </p>

          <p>
            Commonplace is a personal project that I work on in my free time. If you experience any bugs or want to request a new feature, please submit an issue on the <a href="https://github.com/joseph-turk/commonplace">GitHub repo</a>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="/" class="btn btn-primary">Home</a>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>
<% include partials/scripts %>
