<% include partials/meta %>
<% include partials/header %>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>About</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>
            Ipsum iriure est diam diam elitr exerci eos dolores. Accusam et elitr elitr ipsum labore accusam takimata voluptua est accusam et kasd sea dolor clita. Dolor kasd duo lorem consetetur enim soluta. Iriure stet feugiat ipsum dolor elitr lorem no ea tation zzril invidunt dolores consequat facilisis erat takimata commodo. Ipsum blandit ipsum sit eum et nisl. Et amet tempor diam. Dolore tempor amet accusam vulputate diam clita stet sanctus sit kasd. Amet iusto et diam.
          </p>

          <p>
            Labore rebum tation tempor ea aliquyam mazim et tempor autem elit sanctus duo dolor dolor. Ut sadipscing aliquyam clita et justo amet sit nonumy et sit eos. Consetetur ea aliquyam suscipit takimata. Diam luptatum nonumy kasd accusam tempor lorem kasd dolores labore. Ea lorem dolore erat et nonumy ea stet et ea dignissim odio dolor praesent. Et sed quod dolore ex justo tation minim nonummy augue dolore magna sea euismod eos sea sea et enim.
          </p>

          <p>
            Get started on your book today!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="/" class="btn btn-primary">Home</a>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>
<% include partials/scripts %>
