<% include partials/meta %>
<% include partials/header %>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Quote List</h1>
        </div>
      </div>

      <% for (var i = 0; i < quotes.length; i++) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="quote-title"><%= quotes[i].title %></h3>
        </div>

        <div class="panel-body">
          <blockquote class="quote-body">
            <%= quotes[i].body %>
          </blockquote>

          <cite class="quote-author">—<%= quotes[i].author %></cite>

          <a href="/quotes/<%= quotes[i]._id %>" class="btn btn-primary">Details</a>
        </div>
      </div>
      <% } %>

    </div>
  </div>

<% include partials/footer %>
<% include partials/scripts %>
