<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="footer-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/auth/google">Log In</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p>
          &copy; 2016 Joseph Turk
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p class="text-muted">
          All images courtesy of <a href="https://stocksnap.io">StockSnap</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
