<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="footer-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/auth/google">Log In</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p>
          &copy; 2016 Joseph Turk. Header image courtesy of <a href="https://stocksnap.io/">StockSnap</a>. Book and typewriter images courtesy of <a href="http://tympanus.net/codrops/2016/05/27/freebie-creativity-learning-icon-set-psd-ai-svg-png/">Anastasia Ageeva</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
