<!-- bower:js -->
<script src="..//lib/jquery/dist/jquery.js"></script>
<script src="..//lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="..//lib/get-size/get-size.js"></script>
<script src="..//lib/ev-emitter/ev-emitter.js"></script>
<script src="..//lib/desandro-matches-selector/matches-selector.js"></script>
<script src="..//lib/fizzy-ui-utils/utils.js"></script>
<script src="..//lib/outlayer/outlayer.js"></script>
<script src="..//lib/masonry/dist/masonry.pkgd.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/js/layout.js"></script>
<!-- endinject -->

</body>
</html>
